<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXx6PSBhrQpe5Rz10zaT8FaqnERWpfX-M</string>
	<key>GCM_SENDER_ID</key>
	<string>394398775560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attuneApp</string>
	<key>PROJECT_ID</key>
	<string>attuneapp-c90fc</string>
	<key>STORAGE_BUCKET</key>
	<string>attuneapp-c90fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394398775560:ios:5ba16044edaa3377b014bd</string>
</dict>
</plist>